<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sol Music</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

   
    <!-- Favicon -->
    <link href="~/Content/assets/img/logoMusic.jpg" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Content/userAssets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/userAssets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/userAssets/css/style.css" rel="stylesheet">



</head>

<body>
    @{
        var DSLoai = Session["DSLoaiNhac"] as List<ch_nhac_cu.Models.LoaiNhacCu>;
        if (DSLoai != null)
        {
            // Sử dụng danh sách
            ViewBag.DSLoai = DSLoai;
        }




    }

    <!-- ajax cart -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-1 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center h-100">
                    <a class="text-body mr-3" href="">Giới thiệu</a>
                    <a class="text-body mr-3" href="">Liên hệ</a>
                    <a class="text-body mr-3" href="">Hỗ trợ</a>
                    <a class="text-body mr-3" href="">Tư vấn</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <div class="btn-group">
                        @if (Session["idMaKH"] != null && Session["HoTenKH"] != null)
                        {
                            <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Tài khoản của tôi</button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="@Url.Action("Info", "Home")">quản lý thông tin</a>
                                <a class="dropdown-item" href="@Url.Action("bill", "Home")">quản lý hóa đơn của bạn</a>
                                <a class="dropdown-item" href="@Url.Action("changePassword", "Home")">Đổi mật khẩu</a>
                                <a class="dropdown-item" id="Logout" href="@Url.Action("Logout", "Home")" onclick="return confirm('Bạn có chắc chắn muốn đăng xuất?')">Đăng xuất</a>
                            </div>
                        }
                        else
                        {
                            <a class="dropdown-item btn text-body" href="@Url.Action("Login", "Home")">Đăng nhập</a>
                            <div style="background-color: #6c7b88; height: 17px; top: 7px; position: inherit; width: 5px;"></div>
                            <a class="dropdown-item btn text-body" href="@Url.Action("Register", "Home")">Đăng ký</a>

                        }

                    </div>


                </div>
                <div class="d-inline-flex align-items-center d-block d-lg-none">

                    <a href="@Url.Action("Index", "Cart")" class="btn px-0 ml-2">
                        <i class="fas fa-shopping-cart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-4">
                <a href="@Url.Action("Index", "Home")" class="text-decoration-none">
                    <span class="h1 text-uppercase text-primary bg-dark px-2">Sol</span>
                    <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Music</span>
                </a>
            </div>
            <div class="col-lg-4 col-6 text-left">
                <form method="get" action="@Url.Action("TimKiemNhacCu", "Category")">
                    <div class="input-group">
                        <input style="display:none" name="DonGiaMin">
                        <input style="display:none" name="DonGiaMax">
                        <input name="TenNC" type="text" class="form-control" placeholder="nhập sản phẩm...">
                        <div class="input-group-append">

                            <input type="submit" value="tìm kiếm" class="btn btn btn-primary w-25y">


                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-6 text-right">
                <p class="m-0">

                </p>
                <h5 class="m-0">Tư vấn sản phẩm: 0344705573 </h5>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid bg-dark mb-30">
        <div class="row px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
                    <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Danh mục sản phẩm</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                    <div class="navbar-nav w-100">
                        @if (ViewBag.DSLoai != null)
                        {
                            foreach (var item in ViewBag.DSLoai)
                            {
                                if (item.MaLoaiNC != null && item.TenLoaiNC != null)
                                {
                                    <form method="get" action="@Url.Action("TimKiemNhacCu", "Category")">
                                        <input style="display:none" type="text" name="MaLoaiNC" value="@item.MaLoaiNC" />
                                        <input style="background-color: #fff; width: 100%; border: none;" type="submit" value="@item.TenLoaiNC" class="nav-item nav-link">
                                    </form>
                                }
                            }
                        }
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>
                        <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="@Url.Action("Index", "Home")" class="nav-item nav-link active">Trang chủ <i class="fas fa-home"></i></a>
                            <a href="@Url.Action("Index", "Introduce")" class="nav-item nav-link">Giới thiệu</a>
                            <a href="@Url.Action("TimKiemNhacCu", "Category")" class="nav-item nav-link">Sản phẩm</a>
                            
                            <a href="@Url.Action("Index", "Contact")" class="nav-item nav-link">Liên hệ</a>

                        </div>
                        <div class="navbar-nav ml-auto py-0 d-none d-lg-block">

                            <a href="@Url.Action("Index", "Cart")" class="nav-item nav-link ">
                                Giỏ Hàng <i class="fas fa-shopping-cart text-primary"></i>


                                         <span id="CartCount" class="badge text-secondary  rounded-circle" style="padding-bottom: 2px;">
                                             @if (Session["count"] == null)
                                             {
                                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                                             }
                                            else {
                                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">@Session["count"]</span>
                                             }

                                         </span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->

    @RenderBody()

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Cửa hàng Sol Music</h5>
                <p class="mb-4">Thế giới nhạc cụ chuyên nghiệp</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Số 102 đường 2/4, phường Vĩnh Phước, TP Nha Trang, Khánh Hòa</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>solmusic@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+84 344 705 573</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">LIÊN KẾT NHANH</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Trang chủ</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Giỏ hàng</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Liên hệ</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Tư vấn nhanh</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Câu hỏi thường gặp</a>
                            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Chính sách bảo mật</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">CÁC LOẠI NHẠC CỤ PHỔ BIẾN</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Đàn guitar</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Đàn piano</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Bộ trống</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Amply</a>
                            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Linh kiện nhạc cụ</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">ĐĂNG KÝ NHẬN TIN</h5>
                        <p>Hãy nhập địa chỉ email của bạn vào ô dưới đây để có thể nhận được tất cả các tin tức mới nhất của Sol Music  về các sản phẩm mới, các chương trình khuyến mãi mới. Sol Music xin đảm bảo sẽ không gửi mail rác, mail spam tới bạn.</p>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Nhập email của bạn tại đây">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">Gửi</button>
                                </div>
                            </div>
                        </form>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">VỀ CHÚNG TÔI</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">2023</a>. Được thiết kế bởi
                           <a class="text-primary" href="https://github.com/trntuan/">trntuan  </a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="~/Content/userAssets/img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/userAssets/lib/easing/easing.min.js"></script>
    @*<script src="lib/owlcarousel/owl.carousel.min.js"></script>*@

    <!-- Contact Javascript File -->
    <script src="~/Content/userAssets/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Content/userAssets/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/Content/userAssets/js/main.js"></script>

    <!-- Custom JS -->
    <script src="~/Content/assets/js/app.js"></script>






    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var addToCartButtons = document.querySelectorAll('.add-to-cart-btn');

        addToCartButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();

                var productId = button.dataset.productId;
                var quantity = 1;

                var model = {
                    Id: productId,
                    Quantity: quantity
                };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddToCart", "Cart")',
                    data: JSON.stringify(model),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function() {
                        alert("Thêm giỏ hàng thành công!");

                        var cartCount = document.getElementById('CartCount');
                        if (cartCount != null) {
                            var currentCount = parseInt(cartCount.textContent.trim());
                            cartCount.textContent = (currentCount + 1).toString();
                        }
                    },
                    error: function() {
                        alert("Lỗi trong khi thêm vào giỏ hàng!");
                    }
                });
            });
        });
    });
    </script>


</body>

</html>