@model ch_nhac_cu.Models.HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayGH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrangDuyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangDuyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrangDonHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangDonHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.HoTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.HoTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.HoTenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.HoTenNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHD }) |
    @Html.ActionLink("Back to List", "Index")
</p>


