@model IEnumerable<ch_nhac_cu.Models.NhanVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
    int i = 0;
}
<!-- Page Header -->
@using (Html.BeginForm("Index", "NhanViens", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Quản lý nhân viên</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Nhân viên</a></li>
                    <li class="breadcrumb-item active">Quản lý nhân viên</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="@Url.Action("Create", "NhanViens")" class="btn add-btn"><i class="fa fa-plus"></i> Thêm nhân viên</a>
            </div>
        </div>
    </div>
    <div class="row filter-row  ">
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-4 col-12">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" name="MaNV" value="@ViewBag.MaNV">
                <label class="focus-label">Mã nhân viên</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-4 col-12">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" name="HoTenNV" value="@ViewBag.HoTenNV">
                <label class="focus-label">Họ tên nhân viên</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-4 col-12">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" name="SDT" value="@ViewBag.SDT">
                <label class="focus-label">Số điện thoại</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-4 col-12">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" name="Email" value="@ViewBag.Email">
                <label class="focus-label">Email</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-4 col-12">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" name="DiaChi" value="@ViewBag.DiaChi">
                <label class="focus-label">Địa chỉ</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-4 col-12">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" name="TenDN" value="@ViewBag.TenDN">
                <label class="focus-label">Tên đăng nhập </label>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-4 col-12">
            <div class="form-group form-focus select-focus">
                @Html.DropDownList("MaCV", null, "Tất cả", htmlAttributes: new { @class = "select floating" })
                <label class="focus-label">Chức vụ</label>

            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <input type="submit" name="submit" value="Tìm kiếm" class="btn btn-success btn-block" />
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <a href="@Url.Action("Index", "NhanViens/Index")" class="btn btn-info btn-block"> Nhập mới </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive: nowrap">
                <table class="table table-striped custom-table datatable mb-0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã NV</th>
                            <th>Họ tên NV</th>
                            <th>Số điện thoại</th>
                            <th class="underload">Email</th>
                            <th>Địa chỉ</th>
                            <th class="underload">Tên đăng nhập</th>
                            <th>Chức vụ</th>
                            <th class="text-right no-sort underload">Hành động</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @{ i++;}
                                    @i
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaNV)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HoTenNV)
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.SDT)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DiaChi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenDN)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ChucVu.TenCV)
                                </td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="@Url.Action("Edit", new { id = item.MaNV })"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" href="@Url.Action("Details", new { id = item.MaNV })"><i class="fa fa-eye m-r-5"></i> View</a>
                                            <a class="dropdown-item" href="@Url.Action("Delete", new { id = item.MaNV })"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}