@model ch_nhac_cu.Models.KhachHang

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Create", "KhachHangs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-content">
        <div class="modal-header justify-content-center">
            <h4 class="modal-title"><b>ĐĂNG KÝ TÀI KHOẢN</b></h4>
        </div>
        <div class="modal-body">
            <div class="form">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TaiKhoan, "Tên đăng nhập", htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.TaiKhoan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TaiKhoan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.MatKhau, "Mật khẩu", htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.HoTenKH, "Họ tên", htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.HoTenKH, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.HoTenKH, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SDT, "Số điện thoại", htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DiaChi, "Địa chỉ", htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.AnhKH, "Ảnh", htmlAttributes: new { @class = "" })
                            <input type="file" class="form-control" name="AnhKH" accept="image/*" required>
                            @Html.ValidationMessageFor(model => model.AnhKH, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="submit-section">
                    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary submit-btn m-r-10" })
                    <input type="submit" value="Đăng ký" class="btn btn-success submit-btn" />
                </div>
            </div>
        </div>
    </div>
}
